<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>{{ page:title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1274, user-scalable=no">
	<link rel="stylesheet" href="themes/buildfridays/styles/style.css">
	<link rel="stylesheet" href="themes/ribbon/styles/print.css" media="print">
	<!--
		To apply styles to the certain slides
		use slide ID to get needed elements
		-->
	<style>
		#Cover h2 {
			color:#FFF;
			font-size:70px;
			}
		.fit-to-width h2,
		.fit-to-height h2 {
			text-align:center;
			}
	</style>
</head>