// tablet.less
// For the 2012 project, we need to make certain stylistic and functional changes purely for a tablet device without introducing responsiveness on the desktop between 768 - 1024px

// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 768px) and (max-width: 1024px) {
	
  // Fixed grid
  #grid > .core(42px, 20px);

  // Fluid grid
  #grid > .fluid(5.801104972%, 2.762430939%);

  // Input grid
  #grid > .input(42px, 20px);

	// Utilities 
	.visible-desktop   { display: none !important; }
	
	// Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows and thumbnails
  .row,
  .thumbnails {
    margin-left: 0;
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }
	
	.top-level-container {
		width: 728px;
    padding-left: 20px;
    padding-right: 20px;
  }
	.padbox {
		padding: 10px 0;
	}
	#news-tile, #featured-tile {
		margin-top: 0;
	}
	#events-tile {
		height: auto;
	}
	// hide the router arrows
	section .router {
		display: none;
	}
	
	.gallery-container {
		height: 350px;
	}
	// remove scroll effect
	.no-scroll {
		width: 100%;
		overflow: hidden;
	}
	.no-scroll .item {
		float: left;
		width: 32.5%;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
	
}

@media (max-width: 1024px) and (orientation: landscape) {

	.top-level-container {
		width: 984px;
	}	
	
	.gallery-container {
		height: 415px;
	}
}
