.jcarousel-skin-tango .jcarousel-container {
     z-index: 9
}
.jcarousel-skin-tango .jcarousel-container-vertical {
	overflow: hidden;
	height: 400px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  100px;
    height: 340px;
	margin: 10px 0 0 0;
}