/* CSS shared between different themed sections of CSF site */
body {
    font:12px Times, "Times New Roman", serif;
}

.article ul {
    padding-left: 15px;
    list-style-type: disc;
    margin-bottom: 1.2em;
}

ul.right {
    float: right;
}
ul.left{
    float:left;
    width: 70%;
}

.nav-footer li {
    float:left;
    padding:0 6px;
    font:9px/24px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    text-align: center ;
    height: 25px;
    line-height: 24px;
}

/* Contact Form 7 */
.article fieldset {
    font-size: 0.95em;
    margin-bottom: 1em;
}

.wpcf7 ol li {
    margin-bottom: 8px;
    float: left;
    width: 100%;
}

span.wpcf7-list-item {
    display: block;
    margin-left: 0 !important;
}

div.wpcf7-response-output {
    margin: 2em 0 1em !important;
}   

.checks label {
    display: block;
}

.checks span.wpcf7-list-item {
    width: 270px;
    float: left;
} 
select {
    font-size: 12px;
}
input[type="text"], textarea {
    width:258px; 
    font-size:12px;
    line-height:16px;
    height:16px;
    padding:4px;
    border: 1px solid #BCBCBC;
}
textarea { 
    height:100px; 
}
.comment textarea {
    width:545px;
    height:124px;
    padding:5px;
}
input[type="checkbox"] {
    margin-top: -2px;
}
input[type="submit"] {
    font-family: Times, 'Times New Roman', serif;
    background-color: #666;
    color: #FFF;
    padding: 3px;
    margin-top: 4px;
    border: 1px solid #666;
    cursor: pointer;
    font-size: 13px;
}