/* styles for IE6 and below */
#nav li {background-image:expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");}
.items li {padding-left:expression( (this===this.parentNode.childNodes[0]) ? "7px" : "auto");}

#gel {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f0033ff, endColorstr=#7f0033ff);
}

#main-content blockquote {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF, endColorstr=#33FFFFFF);
}
