/* Generic Countdown styles */
.index .countdown_amount {
	font-size: 200%;
}
.countdown_section, .countdown_amount, .countdown_descr {
	//float: left;
}
.countdown_section { 
	margin-right: 10px; 
}
.countdown_amount { 
	margin-right: 10px; 
	font-weight: bold;
}
#ticker br { 
	display: none;
}

header .countdown_amount { margin-right: 4px; }
header .countdown_section { margin-right: 6px;}

